#calendar {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
  
.fc-toolbar-title {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
}
   
.fc-prev-button, .fc-next-button {
    background-color: #007bff;
    color: #fff;
}
  
.fc-day-header {
    background-color: #f0f0f0;
    color: #333;
    text-transform: uppercase;
}
 
.fc-day {
    background-color: #fff;
    border: 1px solid #ddd;
    text-transform: uppercase;
}

  
.fc-event {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}