#calendar {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
  
.fc-toolbar-title {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
}
   
.fc-prev-button, .fc-next-button {
    background-color: #007bff;
    color: #fff;
}
  
.fc-day-header {
    background-color: #f0f0f0;
    color: #333;
    text-transform: uppercase;
}
 
.fc-day {
    background-color: #fff;
    border: 1px solid #ddd;
    text-transform: uppercase;
}

  
.fc-event {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.fc-day:hover {
    background-color: lightblue;
    cursor: pointer;
}

#event-dialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}
  
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  
button {
    background-color: #2e8831;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
  
button:hover {
    background-color: #2e8831;
}

.my-event-class {
    background-color: #0080ff;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.fc-addEvent-button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.fc-addEvent-button:hover {
    background-color: #45a049;
}